
h1 {
  text-align: center;
}

h3 {
  text-decoration: underline;
}

img {
  border-radius: 50%;
  max-width: 100px;
  height: 130px;
  margin-bottom: 30px;

}

#intro {
  text-align: center;
  border-top: 10px;
}

#bio {
  padding-top : 30px;
  float : left;
  max-width: 250px;
  text-align: justify;
  margin-left : 50px;

}

#exp {
  padding-top: 30px;
  float : left;
  max-width : 250px;

  margin-left: 230px;

}

#goals {
  padding-top: 30px;
  margin-left: 900px;
  max-width: 250px;
}

#topTen {
  text-align: center;
  margin-top: 150px;
}

ol li {
  float: left;
  margin-left: 45px;
}

ul {
  text-align: left;
  padding-left: 0px;
}

body {
  font-family : 'Lobster', cursive;
  background-color: #FFE1B8;
}

footer {
 max-width: 100%;
 min-height: 100px;
 float: left;
}
