
h1 {
  text-align: center;
}

h3 {
  text-decoration: underline;
}

#intro {
  text-align: center;
}

#bio {
  padding-top : 50px;
  float : left;
  width: 250px;
  text-align: justify;
  margin-left : 50px;

}

#exp {
  padding-top: 50px;
  float : left;
  width : 250px;

  margin-left: 230px;

}

#goals {
  padding-top: 50px;
  margin-left : 900px;
  width: 250px;
}

ul {
  text-align: left;
  padding-left: 0px;
}

body {
  font-family : 'Lobster', cursive;
  background-color: #E0E0E0;
}
